
.fileSize {
  width:60px; /* you can use % */
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  margin-left: -40px;
}

.clear {
  clear: after;
}

.unclaimed {
  color: lightsalmon;
  font-weight: bold;
  font-size: 14pt;
}

.spacer {
  margin-bottom: 70px;
}
.rec-row {
  margin-top: 20px
}